* {

    box-sizing: border-box; 
    padding: 0;
    margin: 0;
    transition: 0.5s;
}

body {
    margin: 0;
    background-color: rgb(12, 12, 12);
    color:white;
    font-family: 'IBM Plex Sans', sans-serif;
    display: inline-block;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s !important;
    -moz-animation: fadeIn 5s !important;
    -o-animation: fadeIn 5s !important;
    -ms-animation: fadeIn 5s !important;
}

#renderer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color:  rgb(10, 10, 10);
    position: absolute;
}
/* 
#timeline {
    width: 100%;
    height: 100%;
    background-color: rgb(10, 10, 10);
    position: absolute;
    top: 50%; 
    left: 50%;
    transition: 0.5s;
} */

#map {
    width: 100%;
    height: 100%;
    background-color: rgb(10, 10, 10);
    position: absolute;
    transition: 0.5s;
}

.country {
    background-color: rgb(255, 255, 255);
    position: absolute;
    margin: 2em;
    width: 20%;
    height: 100px;
    transition: 0.5s;
}

.rectangle {
    background-color: white;
    position: absolute;
    margin: 2em;
}

.container {
    position: relative;
    transition: 0.5s;
  }
  
.rect-equtorial-zone {
    position: absolute;
    top: 950px;
    left: 1300px;
    width: 10px;
    height: 10px;
    background-color: #FFD01E;
    transition: 0.5s;
}
 
.rect-tropical-zone {
    position: absolute;
    top: 950px;
    left: 1320px;
    width: 10px;
    height: 10px;
    background-color: #F8A430;
    transition: 0.5s;
}

.rect-subtropical-zone {
    position: absolute;
    top: 950px;
    left: 1340px;
    width: 10px;
    height: 10px;
    background-color: #F05167;
    transition: 0.5s;
}

.rect-temperate-zone {
    position: absolute;
    top: 950px;
    left: 1360px;
    width: 10px;
    height: 10px;
    background-color: #92278F;
    transition: 0.5s;
}

.rect-subpolar-zone {
    position: absolute;
    top: 950px;
    left: 1380px;
    width: 10px;
    height: 10px;
    background-color: #5C2E91;
    transition: 0.5s;
}

.rect-polar-zone {
    position: absolute;
    top: 950px;
    left: 1400px;
    width: 10px;
    height: 10px;
    background-color: #303394;
    transition: 0.5s;
}
  

#headline {
    
    font-size: 30px;
    position: absolute;
    left: 95px;
    line-height: 150px;
    font-family: 'IBM Plex Sans', sans-serif;
}

#THND_TONNE_button {

    background-color: rgb(10, 10, 10);
    color: grey;
    font-size: 15px;
    position: absolute;
    top: 930px;
    left: 260px;
    width: 150px;
    line-height: 50px;
    border: none;
    font-family: 'IBM Plex Sans', sans-serif;
    transition: 0.5s;
    
}

#THND_HA_button {
    
    background-color: rgb(10, 10, 10);
    color: grey;
    font-size: 15px;
    position: absolute;
    top: 930px;
    left: 95px;
    width: 150px;
    line-height: 50px;
    border: none;
    font-family: 'IBM Plex Sans', sans-serif;
    transition: 0.5s;
}

#TONNE_HA_button {

    background-color: rgb(10, 10, 10);
    color: grey;
    font-size: 15px;
    position: absolute;
    top: 930px;
    left: 410px;
    width: 150px;
    line-height: 50px;
    border: none;
    font-family: 'IBM Plex Sans', sans-serif;
    transition: 0.5s;
}

#nord-suedpol {

    background-color: none;
    color: grey;
    font-size: 15px;
    position: absolute;
    top: 930px;
    left: 1425px;
    width: 150px;
    line-height: 50px;
    border: none;
    font-family: 'IBM Plex Sans', sans-serif;
} 


#equator {

    background-color: none;
    color: grey;
    font-size: 15px;
    position: absolute;
    top: 930px;
    left: 1230px;
    width: 150px;
    line-height: 50px;
    border: none;
    font-family: 'IBM Plex Sans', sans-serif;
    transition: 0.5s;
} 


#rice_button {

    background-color: rgb(10, 10, 10);
    color: grey;
    font-size: 15px;
    position: absolute;
    top: 930px;
    left: 1480px;
    width: 100px;
    line-height: 50px;
    border: none;
    font-family: 'IBM Plex Sans', sans-serif;
    transition: 0.5s;
}

#wheat_button {

    background-color: rgb(10, 10, 10);
    color: grey;
    font-size: 15px;
    position: absolute;
    top: 930px;
    left: 1410px;
    width: 100px;
    line-height: 50px;
    border: none;
    font-family: 'IBM Plex Sans', sans-serif;
    transition: 0.5s;
    
}

#maize_button {
    
    background-color: rgb(10, 10, 10);
    color: grey;
    font-size: 15px;
    position: absolute;
    top: 930px;
    left: 1330px;
    width: 100px;
    line-height: 50px;
    border: none;
    font-family: 'IBM Plex Sans', sans-serif;
    transition: 0.5s;
}

#soyabean_button {

    background-color: rgb(10, 10, 10);
    color:grey;
    font-size: 15px;
    position: absolute;
    top: 930px;
    left: 1240px;
    width: 100px;
    line-height: 50px;
    border: none;
    font-family: 'IBM Plex Sans', sans-serif;
    transition: 0.5s;
}

#hoverLabel {
    white-space: pre-wrap;
    width: 150px;
    color: white;
    font-weight: 350;
}

#hoverTitle {
     font-size: 20px;
     width: 150px;
     color: white;
     font-weight: 500;
     margin-bottom: 4px; /* Neuer Abstand nach hoverTitel */
 }

#hoverBox {
    top: -50px;
    left: 5px;
    width: 160px;
    border-radius: 0px;
    position: absolute;
    transform: translate(50px, -50px);
    background-color: rgba(30, 30, 30, 0.90) !important;
    animation: fadeIn 0.5s;
}

#column {
    float: left;
    width: 180px;
    padding: 15px;
}

/* 
.clicked{
    background-color: rgb(255, 255, 255) !important;
} */

.button-container {
    position: absolute;
    appearance: auto;
    text-rendering: auto;
    letter-spacing: normal;
    text-indent: 0px;
    display: inline-block;
    box-sizing: border-box;
    margin: 0em;
    font-size: 15px;
    font-family: 'IBM Plex Sans', sans-serif;
    transition: 0.5s;
}

.button-container-subjects {
    position: absolute;
    appearance: auto;
    text-rendering: auto;
    letter-spacing: normal;
    text-indent: 0px;
    display: inline-block;
    box-sizing: border-box;
    margin: 0em;
    font-size: 15px;
    font-family: 'IBM Plex Sans', sans-serif;
    transition: 0.5s;
}

.legend {
    position: absolute;
    appearance: auto;
    text-rendering: auto;
    letter-spacing: normal;
    text-indent: 0px;
    display: inline-block;
    box-sizing: border-box;
    margin: 0em;
    font-size: 15px;
    font-family: 'IBM Plex Sans', sans-serif;
    transition: 0.5s;
}

.button {
    position: absolute;
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    display: inline-block;
    box-sizing: border-box;
    margin: 0em;
    padding: 1px 6px;
    background-color: rgba(255, 255, 255, 0);
    color: grey;
    border: none;
    font-size: 15px;
    font-family: 'IBM Plex Sans', sans-serif;
    transition: 0.5s;
}

.map {
    top: 140px;
    left: 95px;
    font-size: 20px;
}

.time {
    top: 140px;
    left: 170px;
    font-size: 20px;
}

.selected {
    background-color: white;
    position: absolute;
    opacity: 1 !important;
    transition: 0.5s;
}

.active {
    color: white !important;
    transition: 0.5s;
}

.active_wheat {
    color: rgb(255, 224, 129) !important;
    transition: 0.5s;
}

.active_rice {
    color: rgb(255, 242, 209) !important;
    transition: 0.5s;
}

.active_soyabean {
    color: rgb(191, 126, 4) !important;
    transition: 0.5s;
}

.active_maize {
    color: rgb(255, 191, 0) !important;
    transition: 0.5s;
}


.countryName{
    background-color: rgb(10, 10, 10);
    font-size: 15px;
    position: absolute;
    top: 960px;
    left: 1380px;
    width: 200px;
    border: none;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    text-align: right;
    transition: 0.5s;
}

  
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
